
#cuerpo{
    width: 90%;
}
a{
    text-decoration: none;
    color: black;
}
#cabecera{
    position: fixed;/*para que se mueva con el usuario*/
    margin-bottom: 20px;
    top: 0;
    left: 0;
    width: 40%;
    text-align: center;
    padding: 5px;
    margin: 2%;
    margin-left: 30%;
    margin-right: 20%;
}
#cabecera div{
    display: inline;
    padding: 10px;
    border: 2px solid black;
    width: 30%;
    text-align: center;
    margin: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 1%;
}
#cabecera div:hover{
    background-color: rgb(50, 162, 170);
}
#contenedor1{
    padding-top: 70px;
    margin-top: 50px;
    margin-left: 20%;

}
#imagenes{
    border: 2px solid black;
    padding-right: 15px;
    padding-left: 10px;
    width: 40%;
    float: left;
    height: 400px;
    
}

#img1,#img2,#img3,#img4{
    border:solid 1px;
    background-image: url("img/onepice.jpg");
    height: 200px;

}
#uno{
    width: 100%;

}
#dos{
    width: 100%;

}
#img1{
    float: left;
    width: 100px;
}
#img2{
    float: right;
    width: 100px;
    height: 48%;
}
#img3{
    float: left;
    width: 100px;
    height: 49%;
}
#img4{
    float: right;
    width: 100px;
    height: 49%;
}


#texto{
    border: 2px solid black;
    width: 49%;
    padding-left: 20px;
    margin-left: 20px;
    margin-bottom: 5%;
    float: right;
}
#texto h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2;
    color: rgb(41, 69, 230);
    
}
#texto,p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
.h2{
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    color: blue;
}
#onepice img{
    border: 2px solid black;
    width: 400px;
    text-align: center;
    /*asi se ve el borde de la imagen*/
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 25px;
    margin-top: 20px;
    /*para centrarlo*/
    margin-left: 90px;
}
#onepice{
    padding: 50px;
    clear: both;
    /*para centrarlo*/
    margin-left: 20%;

}
#choper{
    border: 3px solid black;
    text-align: center;
}

#formulario{
    padding: 15px;
    margin-left: 20%;
}
#formulario form {
    border: 3px solid black;
    height: 200px;
}
#formulario input{
    padding: 10px;
    width: 80px;
    margin-top: 10px;
}
#formulario label{
    margin: 5%;
}
fieldset{
    float: left;
    width: 80%;
    
}
button{
    margin-top: 3%;
    float: right;
    width: 9%;
    height: 10rem;
}