
#header {
    background: white;
    width: 100%;
    position: fixed;
    height: 120px;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 1000%);
    text-align: center;
}

#header > a {
    display: inline-block;
}

#boton {
    border: 5px solid black;
    padding-top: 10%;
    height: 20px;
}
a {
    text-decoration: none;
}
#cuerpo {
    display: grid;
    grid-template-columns: 10% 80% 10%; 
    grid-template-rows: 70% 80% 70%; 
    width: 100%;
    height: 100vh; 
    padding-top: 110px;
}

#colum1 {
    grid-column: 1/2; 
    grid-row: 1/4;    
}

#colum2 {
    grid-column: 3/4;
    grid-row: 1/4;   

}
#contenedor1{
    grid-column: 2/3; 
    grid-row: 1/2;  
    display: grid;
    grid-template-columns: 45% 5% 50%;
    grid-template-rows: auto auto;

}

#texto{
    border: 5px solid black;
    grid-column: 3/4; 
    grid-row: 1/3;    
    flex-direction: column;
}
#imagenes{
    border: 5px solid black;
    grid-column: 1/2;
    grid-row: 1/3;   
    display: grid;
    grid-template-columns: 50% 1% 50%; 
    grid-template-rows: 50% 50%;
    gap: 10px; 
    width: 100%;
    height: auto;
}
#celdaimagen1{
    grid-column: 1/2; 
    grid-row: 1/3;    
}
#celdaimagen2{
    grid-column: 3/4; 
    grid-row: 1/3;    
}
#img1, #img2, #img3, #img4 {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
#img1 {
    background-image: url(bobesponja1.jpg);
    background-size: cover;  
    width: 100%;
    height: 50%;
}

#img2 {
    background-image: url(bobesponja2.jpg);
    background-size: cover; 
    width: 100%;
    height: 50%;
}

#img3 {
    background-image: url(bobesponja3.jpg);
    background-size: cover; 
    width: 100%;
    height: 50%;
}

#img4 {
    background-image: url(bobesponja4.jpg);
    background-size: cover; 
    width: 100%;
    height: 50%;
}

#onepice {
    border: 5px solid black;
    grid-column: 2/3;
    grid-row: 2/3;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#poke {
    
    width: 70%;
}
#pokeball {
    text-align: center;
}

#pokeballC {
    
    text-align: center;
}
/* Centrado de "Calamardo" */
#calamardo {
    border: 5px solid black;
    text-align: center;
    height: 500px;
    width: 500px;
}

#formulariocampo{
    border: 1px solid;
    grid-column: 2/3;
    grid-row: 3/4;
}
#formulario {
    text-align: center;
    
}
#formularioC {
    height: 300px;
    margin-left: 15%;
}
form > button {
    width: 20%;
    height: 300px;
    float:left;
    
}

fieldset {
    height: 280px;
    text-align: left;
    float:left;
    width: 60%;
}
