//bucle para dar ancho entre el menu lateral y el contenido
@for $i from 1 through 3{
  #elemento-#{$i}{
    width: ($i * 30%);
  }
}

.cabecera {
  margin-top: 10px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-color: bisque;
  
  img {
    margin-top: 10px;
    margin-bottom: 10px;
    
    width: 40%;
    height: 50%;
  }
}

//para el menu laterar y el contenido
.contenido{
  display: flex;
  width: 100%;
  margin-top: 10px;
  gap: 15px;
  #elemento-1{
    min-width: 200px;
    background-color: rgb(236, 221, 221);
    margin-left: 10px;
  }
  #elemento-2{
    margin-left: 10px;
    width: 100%;
    min-width: 200px;
  }


}

  
  .contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    
    div {
        width: 50%;
        height: 70%;
      text-align: center;
      //background-color: map-get($theme, secondary); 
      background-color:rgb(220, 103, 134);
      border-radius: 10px;
      margin-left: 100px;
      display: grid;
      grid-template-rows: repeat(2, 2fr);
  
      img {
        margin-top: 10px;
        margin-left: 10px;
        width: 90%;
        border-radius: 10px;
      }
  
      p {
        font-size: 16px;
        margin-top: 5px;
        //color: map-get($theme, text); 
      }
      &:hover {
        width: 60%; 
        height: 80%; 
      }
  
      // Configuración para mostrar y ocultar texto
      p:first-of-type {
        display: block;
      }
  
      p:last-of-type {
        display: none;
      }
  
      &:hover {
        p:first-of-type {
          display: none;
        }
  
        p:last-of-type {
          display: block;
        }
      }
    }
  }
  