//variables
$color-fondo-menu: rgb(236, 221, 221);
$color-fondo-div: rgb(185, 159, 166);
$ancho-div: 90%;
$alto-div: 80%;
$radio-borde: 10px;
$margen-superior: 15px;
$margen-inferior: 10px;
$margen-lateral: 10px;
$margen-div: 15px;
$gap-menu: 20px;
$tamano-fuente: 15px;

.titulo{
    text-align: center;
}
// Menú lateral
.menu_lateral {
  background-color: $color-fondo-menu;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  //para el mins de espacios
  @include espacio($margen-superior $margen-inferior, $margen-lateral);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: $gap-menu;

  div {
    display: grid;
    width: $ancho-div;
    height: $alto-div;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: $color-fondo-div;
    border-radius: $radio-borde;
    grid-template-rows: repeat(2, 2fr);
    justify-content: center;
    align-items: center;

    img {
      margin-top: $margen-inferior;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      width: $ancho-div;
      border-radius: $radio-borde;
    }

    p {
      font-size: $tamano-fuente;
      justify-content: center;
      text-align: center;
      margin: auto;
    }
  }
}
@media (max-width:800px) {
  .menu_lateral {
    display: none; // Ocultar el menú lateral en móviles por defecto
  }
  .titulo{
    display: none;
  }
  .cabecera {
    width: 100%;  
  }
}