$valornulo: 0px;
$colores: rgb(236, 6, 6), aquamarine, rgb(14, 119, 19), rgb(0, 24, 243), white, red;
$ultimo_color: nth($colores, 5);
$fondo_color: nth($colores, 3);
$color: nth($colores, 1);
$valor_cien: 100px;

$color_fondo_noche: #555;
$color_texto_noche: #ffffff;
$color_fondo_dia: white;
$color_texto_dia: black;
$color_botones_noche: #555;
$color_botones_dia: #67aee8;
body {
  font-family: Arial, sans-serif;
  margin: $valornulo;
  padding: $valornulo;
}

// modo noche 
body:has(#theme-switch:checked) {
  background-color: #555;
  color: #ffffff;
  //el contenido inicial 
  .contenido{
    background-color: #555;
    //menu lateral
    #elemento-1{
      background-color: #c75252;
      .titulo{
        color: #ffffff;
      }
      //para el fondo del menu lateral
      .menu_lateral{
        background-color: #c75252;
        //para las casjas de cada actualidad
        div{
          background-color: #6b018b;
          img{
            background-color: #6b018b;
          }
          p{
            color: #ffffff;
          }
        }
      }
    }
    //el contenido inicial
    #elemento-2{
      background-color: #555;
      .cabecera{
        background-color: #b3b454;
      }
      .contenedor{
        background-color: #555;
        div{
          background-color: #6b018b;
        }
        
      }
    }
    
  }

  }

//el header tiene un fondo diferente
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $fondo_color;

  img {
    width: $valor_cien;
    height: auto;
    margin-left: 100px;
  }

  h1 {
    margin-left: 10px;
    color: $ultimo_color;
  }
  //para poner correctamente el logo
  .logo {
    display: flex;
    align-items: center;
  }
}

//si pulsa el modo noche el fondo cambia de color
body:has(#theme-switch:checked) header {
  background-color: #000000;
}

//los estilos del boton del cheked
.noche{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.noche input[type="checkbox"]{
  display: none;
}

.noche label{
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.noche img{
  width: 30px;
  height: 30px;
  transition: opacity 0.3s ease;
}


/* Oculta el icono de la luna por defecto */
#moon-icon {
  opacity: 0;
}

//si cambia sol
#theme-switch:checked ~ label #sun-icon {
  opacity: 0;
}
//si cambia a luna
#theme-switch:checked ~ label #moon-icon {
  opacity: 1;
}

//estilos del menu que es el indicice de inicio,parejas e inedito
nav {
  $valordemargin: 100%;
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $valornulo auto;
}
//cada uno tiene un fondo
a {
  width: 50%;
  height: 35px;
  font-size: 16px;
  justify-content: center;
  background-color: $color;
  align-items: center;
  margin: 0 15px;
  text-decoration: none;
  color: $ultimo_color;
  display: flex;
}
//si se cambia a modo noche se le cambia el fondo a un color más oscuro
body:has(#theme-switch:checked) a {
  background-color: rgb(88, 6, 6); 
  color: $color_texto_noche;
}

