
//Mixins dar propiedad a un elemento
@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin espacio($margen, $padding) {
  margin: $margen;
  padding: $padding;
}
// 3. Importar Parciales
@import "menu_superior.scss";
@import "menu_lateral.scss";
@import "contenido.scss";
@import "footer.scss";
