body {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

body:has(#theme-switch:checked) {
  background-color: #555;
  color: #ffffff;
}
body:has(#theme-switch:checked) .contenido {
  background-color: #555;
}
body:has(#theme-switch:checked) .contenido #elemento-1 {
  background-color: #c75252;
}
body:has(#theme-switch:checked) .contenido #elemento-1 .titulo {
  color: #ffffff;
}
body:has(#theme-switch:checked) .contenido #elemento-1 .menu_lateral {
  background-color: #c75252;
}
body:has(#theme-switch:checked) .contenido #elemento-1 .menu_lateral div {
  background-color: #6b018b;
}
body:has(#theme-switch:checked) .contenido #elemento-1 .menu_lateral div img {
  background-color: #6b018b;
}
body:has(#theme-switch:checked) .contenido #elemento-1 .menu_lateral div p {
  color: #ffffff;
}
body:has(#theme-switch:checked) .contenido #elemento-2 {
  background-color: #555;
}
body:has(#theme-switch:checked) .contenido #elemento-2 .cabecera {
  background-color: #b3b454;
}
body:has(#theme-switch:checked) .contenido #elemento-2 .contenedor {
  background-color: #555;
}
body:has(#theme-switch:checked) .contenido #elemento-2 .contenedor div {
  background-color: #6b018b;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(14, 119, 19);
}
header img {
  width: 100px;
  height: auto;
  margin-left: 100px;
}
header h1 {
  margin-left: 10px;
  color: white;
}
header .logo {
  display: flex;
  align-items: center;
}

body:has(#theme-switch:checked) header {
  background-color: #000000;
}

.theme-toggle {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.theme-toggle input[type=checkbox] {
  display: none;
}

.theme-toggle label {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.theme-toggle img {
  width: 30px;
  height: 30px;
  transition: opacity 0.3s ease;
}

/* Oculta el icono de la luna por defecto */
#moon-icon {
  opacity: 0;
}

#theme-switch:checked ~ label #sun-icon {
  opacity: 0;
}

#theme-switch:checked ~ label #moon-icon {
  opacity: 1;
}

/* Otros estilos */
button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #67aee8;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

body:has(#theme-switch:checked) button {
  background-color: #555;
  color: #ddd;
}

nav {
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

a {
  width: 50%;
  height: 35px;
  font-size: 16px;
  justify-content: center;
  background-color: rgb(236, 6, 6);
  align-items: center;
  margin: 0 15px;
  text-decoration: none;
  color: white;
  display: flex;
}

body:has(#theme-switch:checked) a {
  background-color: rgb(88, 6, 6);
  color: #ffffff;
}

.titulo {
  text-align: center;
}

.menu_lateral {
  background-color: rgb(236, 221, 221);
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin: 15px 10px;
  padding: 10px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}
.menu_lateral div {
  display: grid;
  width: 90%;
  height: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(185, 159, 166);
  border-radius: 10px;
  grid-template-rows: repeat(2, 2fr);
  justify-content: center;
  align-items: center;
}
.menu_lateral div img {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 90%;
  border-radius: 10px;
}
.menu_lateral div p {
  font-size: 15px;
  justify-content: center;
  text-align: center;
  margin: auto;
}

@media (max-width: 800px) {
  .menu_lateral {
    display: none;
  }
  .titulo {
    display: none;
  }
  .cabecera {
    width: 100%;
  }
}
#elemento-1 {
  width: 30%;
}

#elemento-2 {
  width: 60%;
}

#elemento-3 {
  width: 90%;
}

.cabecera {
  margin: 10px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}
.cabecera img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 40%;
  height: 50%;
}

.contenido {
  display: flex;
  width: 100%;
  margin-top: 10px;
  gap: 15px;
}
.contenido #elemento-1 {
  min-width: 200px;
  background-color: rgb(236, 221, 221);
  margin-left: 10px;
}
.contenido #elemento-2 {
  margin-left: 10px;
  width: 100%;
  min-width: 200px;
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  padding: 15px;
}
.contenedor div {
  width: 50%;
  height: 85%;
  text-align: center;
  background-color: rgb(220, 103, 134);
  border-radius: 10px;
  margin-left: 50px;
  display: grid;
  grid-template-rows: repeat(2, 2fr);
}
.contenedor div img {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  width: 90%;
  border-radius: 10px;
}
.contenedor div p {
  font-size: 16px;
  margin-top: 5px;
}
.contenedor div:hover {
  width: 60%;
  height: 90%;
  background-color: #c82e57;
}
.contenedor div p:first-of-type {
  display: block;
}
.contenedor div p:last-of-type {
  display: none;
}
.contenedor div:hover p:first-of-type {
  display: none;
}
.contenedor div:hover p:last-of-type {
  display: block;
}

@media (max-width: 800px) {
  .contenido {
    flex-direction: column;
    gap: 10px;
  }
  .contenido #elemento-1, .contenido #elemento-2 {
    width: 100%;
    margin-left: 0;
  }
  .cabecera {
    flex-direction: column;
  }
  .cabecera img {
    width: 80%;
  }
  .contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    padding: 15px;
  }
  .contenedor div {
    width: 45%;
    height: auto;
    text-align: center;
    background-color: rgb(220, 103, 134);
    border-radius: 10px;
    margin-left: 100px;
    display: grid;
    grid-template-rows: repeat(2, 2fr);
  }
}
footer {
  text-align: center;
  padding: 10px 0;
  background-color: rgb(166, 166, 197);
}
footer p {
  margin: 0;
}

@media (max-width: 800px) {
  footer {
    padding: 10px;
  }
}/*# sourceMappingURL=estilos.css.map */