.contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
}
#gafa {
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 300px;
    flex-wrap: wrap;
    justify-content: flex-star;

}
#a{
    height: 120px;
    width: 20px;
    background-color: rgb(255, 255, 255);
}
#b{
    height: 120px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}

.itm {
    height: 90px;
    width: 100px;
    background-color: rgb(255, 255, 255);
}

.itm2 {
    height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 255);
}

#mochila {
    height: 350px;
    width: 125px;
    /*flex de moxhila*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#id1{
    border: solid 1px;
    height: 15px;
    width: 80px;
    background-color: rgb(0, 0, 0);
}
#id2{
    height: 15px;
    width: 100px;
    background-color: rgb(235, 148, 200);
    flex-direction: row;
    justify-content: flex-end;
}
#idlado1{
    height: 15px;
    width: 35px;
    background-color: rgb(0, 0, 0);
}
#id3{
    height: 15px;
    width: 125px;
    background-color: rgb(235, 148, 200);
    flex-direction: row;
    justify-content: flex-end;
}
#idlado2{
    height: 15px;
    width: 40px;
    background-color: rgb(0, 0, 0);
}
#id4{
    height: 15px;
    width: 125px;
    background-color: rgb(235, 148, 200);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
#idlado3{
    height: 15px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}
#idlado4{
    height: 15px;
    width: 20px;
    /*color oscuro*/
    background-color: rgb(237, 105, 184);
}
#id5{
    height: 15px;
    width: 125px;
    background-color: rgb(235, 148, 200);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
#idlado5{
    height: 15px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}
#idlado6{
    height: 15px;
    width: 40px;
    background-color: rgb(237, 105, 184);
}
#id6{
    height: 240px;
    width: 125px;
    background-color:rgb(237, 105, 184);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
#idlado7{
    height: 240px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}
#id7{
    height: 15px;
    width: 125px;
    background-color: rgb(237, 105, 184);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
#idlado8{
    height: 15px;
    width: 40px;
    background-color: rgb(0, 0, 0);
}
#id8{
    height: 20px;
    width: 105px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
#lado1 {
    display: flex;
    flex-direction: row;
    width: 220px;
    height: 660px;
    flex-wrap: wrap;
    justify-content: flex-start;
}
#l1{
    height: 20px;
    width: 220px;
    background-color:rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado9{
    height: 20px;
    width: 60px;
    background-color: rgb(255, 255, 255);
}
#l2{
    height: 20px;
    width: 220px;
    background-color:rgb(235, 148, 200);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado10{
    height: 20px;
    width: 40px;
    background-color: rgb(255, 255, 255);
}
#idlado11{
    height: 20px;
    width: 40px;
    background-color: rgb(0, 0, 0);
}
#l3{
    height: 20px;
    width: 220px;
    background-color:rgb(235, 148, 200);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado12{
    height: 20px;
    width: 20px;
    background-color: rgb(255, 255, 255);
}
#idlado13{
    height: 20px;
    width: 40px;
    background-color: rgb(0, 0, 0);
}
#l4{
    height: 20px;
    width: 220px;
    background-color:rgb(235, 148, 200);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado14{
    height: 20px;
    width: 20px;
    background-color: rgb(255, 255, 255);
}
#idlado15{
    height: 20px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}
#l5{
    height: 20px;
    width: 220px;
    background-color:rgb(235, 148, 200);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado16{
    height: 20px;
    width: 40px;
    background-color: rgb(0, 0, 0);
}
#l6{
    height: 20px;
    width: 220px;
    background-color:rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado17{
    height: 20px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}
#idlado18{
    height: 20px;
    width: 100px;
    background-color: rgb(235, 148, 200);
}
#l7{
    height: 20px;
    width: 220px;
    background-color:rgb(167, 213, 225);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado19{
    height: 20px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}
#idlado20{
    height: 20px;
    width: 80px;
    background-color: rgb(235, 148, 200);
}
#idlado21{
    height: 20px;
    width: 40px;
    background-color: rgb(0, 0, 0);
}
#l8{
    height: 20px;
    width: 220px;
    background-color:rgb(167, 213, 225);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado22{
    height: 20px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}
#idlado23{
    height: 20px;
    width: 80px;
    background-color: rgb(235, 148, 200);
}
#idlado24{
    height: 20px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}
#idlado25{
    height: 20px;
    width: 20px;
    background-color: rgb(115, 156, 166);
}
#l9{
    height: 20px;
    width: 220px;
    background-color:rgb(167, 213, 225);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado26{
    height: 20px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}
#idlado27{
    height: 20px;
    width: 80px;
    background-color: rgb(235, 148, 200);
}
#idlado28{
    height: 20px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}
#idlado29{
    height: 20px;
    width: 40px;
    background-color: rgb(115, 156, 166);
}
#l10{
    height: 20px;
    width: 220px;
    background-color:rgb(167, 213, 225);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado30{
    height: 20px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}
#idlado31{
    height: 20px;
    width: 80px;
    background-color: rgb(235, 148, 200);
}
#idlado32{
    height: 20px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}
#idlado33{
    height: 20px;
    width: 60px;
    background-color: rgb(115, 156, 166);
}
#l11{
    height: 20px;
    width: 220px;
    background-color:rgb(115, 156, 166);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado34{
    height: 20px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}
#idlado35{
    height: 20px;
    width: 80px;
    background-color: rgb(235, 148, 200);
}
#idlado36{
    height: 20px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}
#l12{
    height: 20px;
    width: 220px;
    background-color:rgb(115, 156, 166);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado37{
    height: 20px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}
#idlado38{
    height: 20px;
    width: 80px;
    background-color: rgb(235, 148, 200);
}
#idlado39{
    height: 20px;
    width: 40px;
    background-color: rgb(0, 0, 0);
}
#l13{
    height: 20px;
    width: 220px;
    background-color:rgb(115, 156, 166);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado40{
    height: 20px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}
#idlado41{
    height: 20px;
    width: 100px;
    background-color: rgb(235, 148, 200);
}
#idlado42{
    height: 20px;
    width: 40px;
    background-color: rgb(0, 0, 0);
}
#l14{
    height: 20px;
    width: 220px;
    background-color:rgb(115, 156, 166);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado43{
    height: 20px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}
#idlado44{
    height: 20px;
    width: 120px;
    background-color: rgb(235, 148, 200);
}
#idlado45{
    height: 20px;
    width: 80px;
    background-color: rgb(0, 0, 0);
}
#l15{
    height: 20px;
    width: 220px;
    background-color:rgb(235, 148, 200);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado46{
    height: 20px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}
#idlado47{
    height: 20px;
    width: 20px;
    /*color oscuro*/
    background-color: rgb(237, 105, 184);
}
#l16{
    height: 40px;
    width: 220px;
    background-color:rgb(235, 148, 200);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado48{
    height: 40px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}
#idlado49{
    height: 40px;
    width: 40px;
    /*color oscuro*/
    background-color: rgb(237, 105, 184);
}
#l17{
    height: 40px;
    width: 220px;
    background-color:rgb(235, 148, 200);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado50{
    height: 40px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}
#idlado51{
    height: 40px;
    width: 60px;
    /*color oscuro*/
    background-color: rgb(237, 105, 184);
}
#l18{
    height: 20px;
    width: 220px;
    background-color:rgb(235, 148, 200);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado52{
    height: 20px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}
#idlado53{
    height: 20px;
    width: 80px;
    /*color oscuro*/
    background-color: rgb(237, 105, 184);
}
#l19{
    height: 20px;
    width: 220px;
    background-color:rgb(235, 148, 200);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado54{
    height: 20px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}
#idlado55{
    height: 20px;
    width: 150px;
    /*color oscuro*/
    background-color: rgb(237, 105, 184);
}
#l20{
    height: 80px;
    width: 220px;
    background-color: rgb(237, 105, 184);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado56{
    height: 80px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}
#l21{
    height: 20px;
    width: 220px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado57{
    height: 20px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}
#idlado58{
    height: 20px;
    width: 140px;
    background-color: rgb(237, 105, 184);
}
#l22{
    height: 100px;
    width: 220px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado59{
    height: 100px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}
#idlado60{
    height: 100px;
    width: 140px;
    background-color: rgb(237, 105, 184);
}
#idlado61{
    height: 100px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}
#l23{
    height: 20px;
    width: 220px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado62{
    height: 20px;
    width: 40px;
    background-color: rgb(0, 0, 0);
}
#idlado63{
    height: 20px;
    width: 100px;
    background-color: rgb(237, 105, 184);
}
#idlado64{
    height: 20px;
    width: 40px;
    background-color: rgb(0, 0, 0);
}
#l24{
    height: 20px;
    width: 220px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado65{
    height: 20px;
    width: 40px;
    background-color: rgb(255, 255, 255);
}
#idlado66{
    height: 20px;
    width: 100px;
    background-color: rgb(0, 0, 0);
}
#lado2 {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 700px;
    flex-wrap: wrap;
    justify-content: flex-star;

}
#l1d{
    height: 20px;
    width: 180px;
    background-color:rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado67{
    height: 20px;
    width: 100px;
    background-color: rgb(0, 0, 0);
}
#l2d{
    height: 20px;
    width: 180px;
    background-color:rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado68{
    height: 20px;
    width: 80px;
    background-color: rgb(235, 148, 200);
}
#idlado69{
    height: 20px;
    width: 40px;
    background-color: rgb(0, 0, 0);
}
#l3d{
    height: 20px;
    width: 180px;
    background-color:rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado70{
    height: 20px;
    width: 100px;
    background-color: rgb(235, 148, 200);
}
#idlado71{
    height: 20px;
    width: 40px;
    background-color: rgb(0, 0, 0);
}
#l4d{
    height: 20px;
    width: 180px;
    background-color:rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado72{
    height: 20px;
    width: 120px;
    background-color: rgb(235, 148, 200);
}
#idlado73{
    height: 20px;
    width: 40px;
    background-color: rgb(0, 0, 0);
}
#l5d{
    height: 20px;
    width: 180px;
    background-color:rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado74{
    height: 20px;
    width: 140px;
    background-color: rgb(235, 148, 200);
}
#idlado75{
    height: 20px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}
#l6d{
    height: 20px;
    width: 180px;
    background-color:rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#l7d{
    height: 20px;
    width: 180px;
    background-color:rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado76{
    height: 20px;
    width: 20px;
    background-color: rgb(167, 213, 225);
}
#idlado77{
    height: 20px;
    width: 60px;
    background-color: rgb(255, 255, 255);
}
#idlado78{
    height: 20px;
    width: 40px;
    background-color: rgb(167, 213, 225);
}
#l8d{
    height: 20px;
    width: 180px;
    background-color:rgb(167, 213, 225);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado79{
    height: 20px;
    width: 60px;
    background-color: rgb(255, 255, 255);
}
#l9d{
    height: 40px;
    width: 180px;
    background-color:rgb(167, 213, 225);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#l10d{
    height: 20px;
    width: 180px;
    background-color:rgb(115, 156, 166);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#l11d{
    height: 20px;
    width: 180px;
    background-color:rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado80{
    height: 20px;
    width: 160px;
    background-color: rgb(115, 156, 166);
}
#l12d{
    height: 20px;
    width: 180px;
    background-color:rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado81{
    height: 20px;
    width: 130px;
    background-color: rgb(115, 156, 166);
}
#l13d{
    height: 20px;
    width: 180px;
    background-color:rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#idlado82{
    height: 20px;
    width: 140px;
    background-color: rgb(0, 0, 0);
}
#c{
    height: 20px;
    width: 20px;
    background-color: rgb(235, 148, 200);
}
#l14d{
    height: 40px;
    width: 180px;
    background-color:rgb(235, 148, 200);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#idxd{
    height: 40px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}
#l15d{
    height: 80px;
    width: 180px;
    background-color:rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado83{
    height: 80px;
    width: 140px;
    background-color: rgb(235, 148, 200);
}
#d{
    height: 80px;
    width: 20px;
    background-color: rgb(237, 105, 184);
}
#l16d{
    height: 20px;
    width: 180px;
    background-color:rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado84{
    height: 20px;
    width: 80px;
    background-color: rgb(235, 148, 200);
}
#e{
    height: 20px;
    width: 80px;
    background-color: rgb(237, 105, 184);
}
#l17d{
    height: 60px;
    width: 180px;
    background-color:rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#f{
    height: 60px;
    width: 160px;
    background-color: rgb(237, 105, 184);
}
#l18d{
    height: 20px;
    width: 180px;
    background-color:rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado85{
    height: 20px;
    width: 90px;
    background-color:rgb(237, 105, 184);
}
#idlado86{
    height: 20px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}
#g{
    height: 20px;
    width: 50px;
    background-color: rgb(237, 105, 184);
}
#l19d{
    height: 20px;
    width: 180px;
    background-color:rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado87{
    height: 20px;
    width: 90px;
    background-color:rgb(0, 0, 0);
}
#h{
    height: 20px;
    width: 70px;
    background-color:rgb(237, 105, 184);
}
#l20d{
    height: 60px;
    width: 180px;
    background-color:rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado88{
    height: 60px;
    width: 20px;
    background-color:rgb(0, 0, 0);
}
#idlado89{
    height: 60px;
    width: 140px;
    background-color: rgb(237, 105, 184);
}
#l20d{
    height: 60px;
    width: 180px;
    background-color:rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado88{
    height: 60px;
    width: 20px;
    background-color:rgb(0, 0, 0);
}
#idlado89{
    height: 60px;
    width: 140px;
    background-color: rgb(237, 105, 184);
}
#l21d{
    height: 20px;
    width: 180px;
    background-color:rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado91{
    height: 20px;
    width: 20px;
    background-color:rgb(0, 0, 0);
}
#idlado92{
    height: 20px;
    width: 120px;
    background-color: rgb(237, 105, 184);
}
#l22d{
    height: 20px;
    width: 180px;
    background-color:rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado93{
    height: 20px;
    width: 40px;
    background-color:rgb(0, 0, 0);
}
#idlado94{
    height: 20px;
    width: 80px;
    background-color: rgb(237, 105, 184);
}
#idlado95{
    height: 20px;
    width: 40px;
    background-color: rgb(0, 0, 0);
}
#l23d{
    height: 20px;
    width: 180px;
    background-color:rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#idlado96{
    height: 20px;
    width: 20px;
    background-color:rgb(255, 255, 255);
}
#idlado97{
    height: 20px;
    width: 120px;
    background-color: rgb(0, 0, 0);
}