tr,td,table,th{
    border: 1px solid;
}
#contenedor{
    display: grid;
    grid-template-rows: 50% 30% 80%;
    height: 1000px;
    width: 100%;
}
#campo1{
    border:3px solid;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 10% 90%;
}
#titulo1{
    border:1px solid;
    grid-row: 1/2;
    text-align: center;
    font-size: 20px;
    font-style: initial;
}
#contenido{
    border:3px solid;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns:45% 10% 45% ;
}
#imagen1{
    grid-column: 1/2;
    position: relative;
}
#textoimagen{
    position: absolute;
    top: 145px;
    color: aliceblue;
}
#texto{
    grid-column: 3/4;
    justify-content: center;
    height: auto;
}
#campo2{
    border:3px solid;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 10% 20% 70% 10%;
    grid-template-columns: 33.33% 33.33% 33.33%;
}
#titulo2{
    border:3px solid;
    grid-row: 1/2;
    grid-column: 1/4;
    text-align: center;
    font-size: 20px;
    font-style: initial;
}
#tabla{
    grid-row: 3/4;
    grid-column: 2/3;
    justify-content: center;
    text-align: center;
}
#campo3{
    border:3px solid;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 10% 20% 10% 20% 10% 20% 10%;
    grid-template-rows: 5% 5% 45% 45% ;
}
img{
    height: 200px;
    width: 95%;
    border-radius: 10px;
}
#titulo3{
    border:3px solid;
    grid-row: 1/2;
    grid-column: 1/8;
    text-align: center;
    font-size: 20px;
    font-style: initial;
}
#imagen2{
    grid-row: 3/4;
    grid-column: 2/3;
}
#imagen3{
    grid-row:  3/4;
    grid-column: 4/5;
}
#imagen4{
    grid-row:  3/4;
    grid-column: 6/7;
}
#imagen5{
    grid-row: 4/5;
    grid-column: 2/3;
}
#imagen6{
    grid-row: 4/5;
    grid-column: 4/5;
}
#imagen7{
    grid-row: 4/5;
    grid-column: 6/7;
}


@media (max-width: 768px){
    #contenedor{
        display: grid;
        grid-template-rows: 50% 30% 80%;
        height: 1000px;
        width: 100%;
    }

#contenido{
    border:3px solid;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 5% 35% 5% 40%;
}
#campo3{
    border:3px solid;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 20% 20% 10% 20%;
    grid-template-rows: 5% 5% 30% 5% 30% 5% 30% 5% ;
    height: 800px;
}
img{
    height: 200px;
    width: 95%;
    border-radius: 10px;
}
#titulo3{
    border:3px solid;
    grid-row: 1/2;
    grid-column: 1/8;
    text-align: center;
    font-size: 20px;
    font-style: initial;
}
#imagen2{
    grid-row: 3/4;
    grid-column: 2/3;
}
#imagen3{
    grid-row:  3/4;
    grid-column: 4/5;
}
#imagen4{
    grid-row:  4/5;
    grid-column: 2/3;
}
#imagen5{
    grid-row: 4/5;
    grid-column: 4/5;
}
#imagen6{
    grid-row: 6/7;
    grid-column: 2/3;
}
#imagen7{
    grid-row: 6/7;
    grid-column: 4/5;
}

}